.bg-pri {
  background: $color-1;
}

.bg-header {
  background: $color-2;
}

.bg-btn {
  color: #fff;
  background: $color-3;
}

.bg-white {
  background: #fff;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.center-center {
  justify-content: center;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.grid {
  display: grid;
}

.pointer {
  cursor: pointer;
}

.breadcrumb {
  margin-bottom: .5rem;
  font-size: 1rem;
  .breadActive {
    * {
      font-weight: bold !important;
      color: $color-1 !important;
    }
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}