$color-1: #096f8b;
$color-2: #d9ecf6;
$color-3: #285481;
$color-4: #0095d1;

$color-warning: #c43036;

$color-blue: #b9cbd3;
$color-yellow: #e4e4c0;
$color-red: #e7a9ab;

$text-1: #696159;

$gray-1: #e6e6e5;
// 表格
$gray-2: #f1f2f2;

$gray-3: #F5F4F3;
